<section class="contact">
    <div class="container">
      <div class="row mt-5">
        <div class="col-md-5">
  
          <h2>forgot Password</h2>
          <form [formGroup]="forgotpasswordForm" (ngSubmit)="onSubmit()">
  
              <div class="form-group">
                  <label for="username">Enter Valid Email</label>
                  <input type="text" formControlName="username" class="form-control" [ngClass]="{ 'is-invalid': submitted && forgotpasswordForm.controls.username.errors }" />
                  <div *ngIf="submitted && forgotpasswordForm.controls.username.errors" class="invalid-feedback">
                      <div *ngIf="forgotpasswordForm.controls.username.errors.required">enter Email</div>
                      <div *ngIf="forgotpasswordForm.controls.username.errors.email">Email id not valid</div>
                  </div>
              </div>
  
              <div class="form-group">
                <button [disabled]="loading" class="btn btn-primary">
                    <span *ngIf="loading" class="spinner-border spinner-border-sm mr-1"></span>
                    Get New Password
                </button>      
  
              </div>
            </form>
            
            
      
          </div>
        </div>
      
      
      </div>
      
        </section>
      
  
  <!-- <div id="sc-password">
    <h1>Reset Password</h1>
    <div class="sc-container">
      <input type="text" placeholder="Username or Email" />
      <input type="submit" value="Get New Password" />
    </div>
  </div> -->
